/* Global */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h2 {
    color: seashell;
    text-align: center;
    margin-top: 8px;
}

h3 {
    color: seashell;
    text-align: center;
    margin-top: 8px;
}

h4 {
    color: seashell;
    text-align: center;
    margin-bottom: 8px;
}

h5 {
    color: seashell;
    text-align: center;
}

/* Navbar */

ul li {
  list-style: none;
  margin: 0 10px;
}

nav a {
    color: seashell;
}

nav {
    border-bottom: 1px solid seashell;
    max-width: 1260px;
    height: 69px;
    background: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: sti;
    top: 0;
}

nav ul {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    height: 50px;
}

/* Hero section */

header {
    margin: 0 auto;
    height: 700px;
    width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.hero {
    width: 1200px;
    height: 700px;
    background-image: url(/images/img-mission-background.webp);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    height: auto;
    width: 1200px;
    background-color: black;
}




section {
    width: 1260px;
    background: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-text {
    height: auto;
    width: 1000px;
    margin-top: 50px;
}

.img-box {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.img-box h4 {
    margin-top: 10px;
} 

.box-1 {
    margin: 7px 12px ;
}

.box-1 img {
    height: 200px;
    width: 300px;
}

.img-box2 {
    width: 1200px;
    height: 500px;
    background-image: url(/images/img-locations-background.webp);
    opacity: 0.9;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.box-2 {
    margin: 0 20px;
    background-color: black;
    opacity: 1;
    height: 300px;
    width: 300px;
}

.box-2 img {
    height: 300px;
    width: 300px;
}

.locations {
    position: relative;
    top: 100px;
}

.box-2 h4 {
    margin-top: 50px;
}

footer {
    width: 1260px;
    background-color: black;
    margin: 0 auto;
}

footer h4 {
    text-align: left;
    margin-left: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}